/* css file */
tr.sp:nth-child(even) {background: #FFFFFF}
tr.sp:nth-child(odd) {background: #e6f1e0}
tr.guess {background: #FFCC88}
td {
    height: 80px;
}
table {
    font-family: "Verdana", sans-serif;
}
td.langwords {
  width: 300px;
}
td.langtitle {
  color: #BB0000;
  font-size: 1.5em;
  width: 200px;
}
td.playtitle {
  background: #aadd88;
  font-size: 1.5em;
}
p {
  font-size: 2em;
}
p.feedback {
  text-align:center;
  color: #DD0000;
  font-size: 3em;
}
