/* css file */
tr.sp:nth-child(even) {background: #FFFFFF}
tr.sp:nth-child(odd) {background: #e6f1e0}
tr.guess {background: #aadd88}
td {
    height: 80px;
}
table {
    font-family: "Verdana", sans-serif;
}
td.langtitle {
  color: #BB0000;
  font-size: 1.5em;
}
p.feedback {
  color: #DD0000;
  font-size: 3em;
}
